.blogcards-container {
    display: flex;
    margin-top: 5%;
}

.blogcards-card-container {
    display: flex;
    img {
        width: 50%;
        margin-left: 30%;
    }
    p {
        font-size: 0.875rem;
        color: #595959;
    }
    h3 {
        font-size: 1.5rem;
        color: #595959;
        font-weight: bold;
    }
}