.blog {
    background-color:#1C4481;
    padding: 2% 90% 2% 5%;
        h1 {
            font-size: 4rem;
            color: white;
        }
    &-content-container {
        display: flex;
        margin-top: 4%;
    }
}

.blog-pagination {
    margin-left: 30%;
    margin-bottom: 10%;
}