.footer {
    background-color: #26272A;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 3%;
    p {
        color: #6B7676;
    }
    &-container {
        display: flex;
        padding-bottom: 10%;
    }
    &-about-us {
        h3 {
            color: white;
            font-weight: normal;
        } 
    }
    &-contact-us {
        margin-left: 8%;
        h3 {
            color: white;
            font-weight: normal;
        }
    }
    &-terms {
        background-color: #212224;
        display: flex;
        padding-top: 1%;
        padding-bottom: 1%;
        &-item {
            display: flex;
            margin-left: 0;
            padding-left: 5%;
            p {
                margin-right: 2%;
                color: #6B7676;
                font-size: 12px;
            }
        }
        &-copyright {
            p {
                color: #6B7676;
                font-size: 12px;
            }
        }
    }
    .footer-facebook {
        color: #6B7676;
        margin-right: 2%;
        margin-top: 5%;
    }
    .footer-instagram {
        color: #6B7676;
    }
}