.header-blog {
    background-color: white !important;
    display: flex;
    padding-bottom: 1%;
    &-mail {
        display: flex;
        background-color: white;
        p {
            margin-top: 1%;
        }
    }
    &-icons {
        display: flex;
        margin-top: 1%;
        color: #1C4481;
        background-color: white;
    }
    &-contact {
        display: flex;
    }
    &-logo {
        margin-left: 4%;
        margin-top: 1%;
    }
        img {
        width: 25%;
    }
    &-navbar {
        margin-top: 2.5%;
        button {
            color: #595959;
            width: 10%;
            margin-left: 3%;
            font-size: large;
            padding: 0;
            border: 0;
            outline: 0;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            :hover {
                background-color:#F8F8F8 ;
            }
        }
    }
    &-search {
        margin-left: 10%;
    }
    .header-login-btn {
        background-color:#43B5A5 !important;
        color: white;
        border-radius: 5px;
        height: 100%;
        :hover {
            background-color:transparent;
        }
    }   
}

.mail {
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 0.5%;
    color: #1C4481;
}

.facebook {
    margin-right: 50%;
}
