.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white !important;
    display: flex;
    padding-bottom: 1%;
    &-logo {
        margin-left: 4%;
        margin-top: 1%;
    }
        img {
        width: 25%;
    }
    &-navbar {
        margin-top: 1%;
        button {
            color: #595959;
            width: 10%;
            margin-left: 3%;
            font-size: large;
            padding: 0;
            border: 0;
            outline: 0;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            :hover {
                background-color:#F8F8F8 ;
            }
        }
    }
    .header-login-btn {
        background-color:#43B5A5 !important;
        color: white;
        border-radius: 5px;
        height: 100%;
        :hover {
            background-color:transparent;
        }
    }   
}