html {
    background-color: #FAFAFA;
}

.homepage {
    &-container {
        h1 {
            margin-right: 40%;
            color: white;
            font-size: 3rem;
        }
        background-image: url("../images/main-hero-man2.jpg");
        background-position: center;
        background-size: cover;
    }
    &-article {
        margin-left: 5%;
        padding-top: 10%;
        padding-bottom: 12%;
        button {
            font-weight: bold;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 5px;
            outline: none;
            color: white;
            background-color: #5089C7;
            border-color: #5089C7;
        }
    }
    &-cards {
        margin-right: 5%;
        margin-left: 5%;
    }
    &-fact {
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url("../images/fact.jpg");
        background-position: center;
        background-size: cover;
        h1 {
            font-size: 3rem;
            padding-top: 5%;
        }
        h2 {
            font-size: 2rem;
            font-weight: normal;
            padding-bottom: 5%;
        }
        
    }
    &-question {
        display: flex;
        margin-left: 32%;
        margin-bottom: 5%;
        p {
            text-align: center;
        }
    }
    &-mail {
        width: 8rem;
        border-style: solid;
        border-width: 1px;
        padding-top: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
        margin-right: 3%;
        &-icon {
            margin-left: 3.2rem;
        }
    }
    &-location {
        width: 8rem;
        border-style: solid;
        border-width: 1px;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
        &-icon {
            margin-left: 3.2rem;
        }
    }
}