.popularcards-container {
    display: flex;
    margin-top: 5%;
    width: 3rem;
}

.popularcards-card-container {
    display: flex;
    img {
        width: 10rem;
    }
    p {
        font-size: 0.875rem;
        color: #595959;
    }
    h5 {
        font-size: 1.5rem;
        color: #595959;
        font-weight: bold;
    }
}