.product {
    &-title {
        text-align: center;
        margin-top: 8%;
        h1 {
            font-size: 3rem;
        }
        p {
            margin-top: 5%;
            font-weight: lighter;
        }
    }
    &-container {
        display: flex;
        margin-top: 8%;
        margin-left: 30%;
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    &-card-container {
        width: 17rem;
        margin-left: 2%;
        p {
            font-size: 0.875rem;
            color: #595959;
        }
        h3 {
            font-size: 1rem;
            color: #595959;
        }
    }
    &-card-icon {
        justify-content: center;
        box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
        border-radius: 5px;
        padding: 3rem 3rem 3rem 3rem;
        img {
            margin-left: 26%;
            width: 100px;
            height: 85.92px;
            max-width: 100%;
        }
    }
    &-card-item {
        button {
            padding: 6px 16px;
            margin-left: 33%;
            min-width: 64px;
            margin-top: 5%;
            background-color:#43B5A5;
            font-size: 0.875rem;
            color: white;
            border: 0;
            cursor: pointer;
            align-items: center;
            border-radius: 5px;
            height: 100%;
            outline: none;
            border-color:#43B5A5;
            :hover {
                background-color:transparent;
            } 
        }
    }
}
