h1 {
    text-align: center;
}

.reading {
    p {
        text-align: center;
    }
    &-container {
        display: flex;
        margin-top: 12%;
        justify-content: center;
        align-items: center;
        p {
            font-size: 0.875rem;
            color: #595959;
            text-align: left;
        }
        h3 {
            font-size: 1rem;
            color: #595959;
        }
    }
    &-card-item {
        span {
            background-color: #5089C7;
            font-size: 0.875rem;
            color: white;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        }
    }
    &-card-container {
        display: flex;
        width: 15rem;
        margin-left: 3%;
        box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
        border-radius: 5px;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 3rem;
        margin-bottom: 3%;
    }
}