.sign-in-container {
    background-color: white;
    width: 20rem;
    border-style: solid;
    border-width: 1px;
    margin-left: 38%;
    margin-top: 10%;
        & img {
            width: 11rem;
            margin-left: 25%;
            margin-top: 10%;
        }
}
.sign-in {
    padding: 2% 3% 2% 3%;
}

.sign-in-google {
    margin-left: 28%;
    margin-bottom: 10%;
    & button {
        margin-top: 5%;
        outline: 0;
        background-color: white;
        cursor: pointer;
    }
}

.sign-in-input {
    margin-left: 18%;
    margin-bottom: 3%;
}

.sign-in-check {
    margin-left: 17.5%;
    margin-bottom: 10%;
}

.sign-in-email {
    margin-bottom: 5%;
}

.sign-in-submit {
    margin-left: 42%;
}

.sign-in-register {
    margin-top: 10%;
    margin-left: 12%;
    margin-bottom: 5%;
}