.sign-up-container {
    background-color: white;
    width: 20rem;
    border-style: solid;
    border-width: 1px;
    margin-left: 38%;
    margin-top: 10%;
        & img {
            width: 11rem;
            margin-left: 25%;
            margin-top: 10%;
        }
}
.sign-up {
    padding: 2% 3% 2% 3%;
}

.sign-up-google {
    margin-left: 28%;
    margin-bottom: 10%;
    & button {
        margin-top: 5%;
        outline: 0;
        background-color: white;
        cursor: pointer;
    }
}

.sign-up-input {
    margin-left: 18%;
    margin-bottom: 3%;
}

.sign-up-check {
    margin-left: 17.5%;
    margin-bottom: 10%;
}

.sign-up-name {
    margin-bottom: 7%;
}

.sign-up-email {
    margin-bottom: 7%;
}

.sign-up-submit {
    margin-top: 7%;
    margin-left: 42%;
}

.sign-up-login {
    margin-top: 10%;
    margin-left: 12%;
    margin-bottom: 5%;
}